.Button {
  color: rgb(116, 115, 114);
}
.Layout {
  background-color: rgb(255, 128, 0);
}
.link {
  color: rgb(0, 0, 0);
}
.link:hover {
  color: rgb(158, 155, 155);
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(8, 252, 8);
}
